#content-login-form {
  border: 1px solid silver;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 15px;
}
#content_login_node_id {
  float: left;
  width: 260px;
}
#content-login-form #content_login_node_id label {
  float: left;
  width: 120px;
}
#content-login-form #content_login_form_submit {
  float: left;
  padding-top: 5px;
}
